<div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
    <img loading="lazy" src="{{ 'banner.jpg' | asset_url }}">
  </div>