<header id="csheader" class="csheader header_3 h_icon_icclv"><h1 class="h2 site-header__logo dn">Parbed Shop</h1><div class="csheader_wrapper pr z_200"><div id="shopify-section-header-top" class="shopify-section"><div class="h__top bgbl pt__10 pb__10 fs__12 flex fl_center al_center"><div class="container">
    <div class="row al_center"><div class="col-lg-4 col-12 tc tl_lg col-md-12 dn_false_1024"><div class="header-text"><i class="cs-font clever-icon-phone-6"></i> +1 (970) 730-6963 <i class="cs-font clever-icon-mail-4 ml__15"></i> <a class="cg" href="mailto:support@paralinen.co">support@paralinen.co</a></div></div><div class="col-lg-8 col-12 tc col-md-12 tr_lg dn_false_1024"><div class="header-text">Worldwide Shipping</div></div></div>
 </div></div><style data-shopify="">.h__top {min-height:42px;font-size:14px;}.h__top { background-color: #282828;color:#ffffff } .header-text >.cg,.h__top .cs_currency { color:#ffffff  } .h__top .cr { color:#ec0101  } .header-text >a:not(.cg) { color:#ffffff  }</style></div><div id="shopify-section-header-3" class="shopify-section sp_header_mid"><div class="header__mid"><div class="container">
      <div class="row al_center css_h_se">
         <div class="col-md-4 col-3 dn_lg"><a href="/" data-id="#cs_menu_canvas" class="push_side push-menu-btn  lh__1 flex al_center">
 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>  
 </a></div>
         <div class="col-lg-2 col-md-4 col-6  tl_lg"><div class=" branding ts__05 lh__1"><a class="dib" href="/">Parbed Shop</a></div> </div>
         <div class="col dn db_lg"><nav class="cs_navigation tc hover_side_up nav_arrow_false"> 
    <ul id="cs_menu_id" class="cs_menu in_flex wrap al_center"><li id="item_2fff1c37-5ed1-40f8-abe0-f58a694ca6eb" class="menu-item type_simple"><a class="lh__1 flex al_center pr" href="/" target="_self">Home</a></li>
 <li id="item_8a07593c-9907-4841-80f5-388b9166baa3" class="menu-item type_simple"><a class="lh__1 flex al_center pr" href="/collections/all" target="_self">Shop</a></li>
 <li id="item_f831b25a-44dc-4e6d-b94d-f4d3f711daeb" class="menu-item type_simple"><a class="lh__1 flex al_center pr" href="/tools/track-your-order" target="_self">Track Your Orders</a></li>
 <li id="item_0b437dc0-25c0-4a43-b45e-010e28ba03bf" class="menu-item type_simple"><a class="lh__1 flex al_center pr" href="/pages/about-us" target="_self">About Us</a></li>
 <li id="item_4b43168c-f149-43ea-9744-98a1082597fb" class="menu-item type_simple"><a class="lh__1 flex al_center pr" href="/pages/contact-us" target="_self">Contact Us</a></li>
 </ul>
 </nav>
 </div>
         <div class="col-lg-auto col-md-4 col-3 tr col_group_btns"><div class="cs_action in_flex al_center cart_des_1"><a class="icon_search push_side cb chp" data-id="#cs_search_canvas" href="/search"><i class="cs-font clever-icon-search-6"></i></a><div class="icon_cart pr"><a class="push_side pr cb chp db" href="/cart" data-id="#cs_cart_canvas"><i class="cs-font clever-icon-cart-19 pr"><span class="op__0 ts_op pa tcount jsccount bgb br__50 cw tc">0</span></i></a></div></div></div>
      </div>
   </div></div><style>.header__mid .css_h_se{min-height: 60px}.cs_menu>li>a{height:60px}</style></div></div>
 </header>